
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="~/govna.css" />
    <meta name="viewport" content="width=device-width" />
    <title>govno</title>
    
</head>
<body>
    <div class="govna.css">
        <h1>10 Причин не использовать ASP Net:</h1>

        <p>1. Проприетарщина.</p>
        <p>2. Наличие таких бесплатных систем, как Apache или Nginx.</p>
        <p>3. Наличие таких бесплатных и мощных япов, как Python, PHP, JavaScript.</p>
        <p>4. Наличие таких бесплатных и мощных фреймворков для написания сайтов и веб приложений как Django.</p>
        <p>5. Урезанная скорость тк C# - яп, которому нужна компиляция, а тот же Python работает без компиляции.</p>
        <p>6. Некроссплатформенность япа C#</p>
        <p>7. Неудобство работы с данной системой, тк тот же style, если его вписать в .cshtml работать не будет, а в тоже время в нормальном html работает все вполне сносно.</p>
        <p>8. Неудобство в плане выбора платформ разработки(невозможность для Linux разработчика работать с япом С# и средой разработки Visual Studio).</p>
        <p>9. Отстойная реализация C# совмщенного с HTML.</p>
        <p>10. Закрытость исходного кода.</p>

        <img src="~/Content/img/gavna2.png" />

        <button onclick="babahjopa()">Нажать шоба взовался комп...</button>
    
        <script src="~/Bah.js"></script>

    <!-- <button onclick=;">Нажать шоба выполнить переход...</button> -->

    </div>
</body>
</html>
